@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.form-checkbox {
    appearance: none;
    background-color: transparent;
    border: 1px solid #6b7280; /* gray-500 */
    border-radius: 0.25rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.form-checkbox:checked {
    border-color: #3b82f6; /* blue-500 */
    background-color: #3b82f6;
}

.form-checkbox:checked::after {
    content: '✔';
    position: absolute;
    color: white;
    font-size: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}

.form-checkbox:indeterminate {
    border-color: #3b82f6;
    background-color: #3b82f6;
}

.form-checkbox:indeterminate::after {
    content: '—';
    position: absolute;
    color: white;
    font-size: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}